body{
	width:100% !important;
	-moz-user-select:unset !important;
	padding:5px !important;
	overflow:hidden;
}

body.opacity{
	opacity:0;
}

body *{
	box-sizing:unset;
}

label{
	padding:0 0 7px 0;
	display:inline-block;
}

input[type="number"],
select{
	border:1px solid #9e9e9e;
	border-radius:2px;
	height:28px;
	width:140px;
	padding-left:8px;
	box-sizing:border-box;
}

input[type="number"]:hover,
select:hover{
	border-color:#858585;
}

input[type="number"]:focus,
select:focus{
	border-color:#0a84ff;
	box-shadow:0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

h2{
	font-size: 22px;
	font-weight: 300;
	margin:0 0 10px;
}

h3{
	margin:10px 0;
}

#sliderTitle{
	border-top:1px solid #d6d6d7;
	padding-top:10px;
}

.optionsTab{
  display:grid;
  grid-template-columns: 200px auto;
  grid-row-gap: 5px;
}

#customization{
	margin-top:10px;
	display:grid;
	grid-template-areas:"header header" "leftSide rightSide"; 
	grid-template-columns:285px auto;
}

.card{
	padding:0 16px 16px;
	background:#fff;
	border:1px solid #0c0c0d1a;
	border-radius: 4px;
	box-shadow:#0c0c0d1a 0px 1px 4px 0px;
	transition: box-shadow 150ms;
}

.card:hover{
	box-shadow:#0c0c0d1a 0px 1px 4px 0px, #d7d7db 0px 0px 0px 5px;
}

#leftSide{
	grid-area:leftSide;
}

#rightSide{
	grid-area:rightSide;
}

#header{
	grid-area:header;
}

#popupPreview{
	width:224px;
	padding:4px;
	margin:2px 0 0 32px;
	border:1px solid #d0d1d1;
	box-shadow:0 2px 8px rgba(12, 12, 13, 0.1);
	background:#fff;
}

#popupPreview::before{
	content:"";
	background-image:url("icons/arrow.svg");
	height: 10px;
	width: 20px;
	display: block;
	position: relative;
	top: -14px;
	left: 2px;
	margin-bottom:-10px;
}

.flexrow{
	background-image: url("icons/drag.svg");
	background-repeat:no-repeat;
	background-position:right;
	padding-right:12px;
	cursor:row-resize;
}

.flexrow *,
#palette *{
	cursor:move;
}

#palette{
	height:calc(100% - 50px);
	min-height:64px;
	padding:4px;
	margin:4px 0 0 2px;
	border:3px dashed rgba(12, 12, 13, 0.4);
	background:#fff;
}

#palette button{
	min-width:22px;
}

#addRow{
	margin:6px 0 0 32px;
	width:218px;
}

.delete{
	height:16px;
	width:16px;
	padding:6px;
	flex-shrink:0;
	position:relative;
	left:-40px;
	margin:2px -30px 2px 2px;
	cursor:default;
	border-radius:2px;
	transition-duration: 150ms;
	transition-property: background-color;
}

.delete:hover{
	background-color:#c9c9ca;
}

.delete:hover:active{
	background-color:#b1b1b1;
}

.ui-sortable-placeholder{
	vertical-align:bottom;
}

#buttonValue{
	width:65px;
}
