.light{
	--popup-border:#d0d1d1;
}

.dark{
	--popup-border:#52525e;
}

@media (prefers-color-scheme: dark) {
	body{
		background-color:#23222b !important;
		color:#fbfbfe !important;
	}
	.card{
		background-color:#2b2a33 !important;
		border-color:#676670 !important;
	}
	#rightSide button,
	#addRow{
		background-color:#52525e54 !important;
		color:#fbfbfe !important;
	}
	#rightSide button:hover,
	#addRow:hover{
		background-color:#52525e !important;
	}
	#rightSide button:active,
	#addRow:active{
		background-color:#5b5b66 !important;
	}
	input[type="text"],
	input[type="number"],
	select{
		background:#23222b;
		border-color:#7c7b82 !important;
		color:#fbfbfe !important;
	}
	#sliderTitle{
		border-color:#676670 !important;
	}
	#palette{
		border-color:#676670 !important;
		background:#23222b !important;
	}
	a{
		color:#00ddff !important;
	}
	:is(input[type="text"],input[type="number"],select,a,button,.delete):focus-visible{
		outline: 2px solid #00ddff !important;
	}
	.delete:hover{
	background-color:#52525e !important;
	}
	.delete:hover:active{
		background-color:#5b5b66 !important;
	}
}

body{
	width:100% !important;
	-moz-user-select:unset !important;
	padding:5px !important;
}

body.opacity{
	opacity:0;
}

body *{
	box-sizing:unset;
}

label{
	padding:0 0 7px 0;
	display:inline-block;
}

input[type="text"],
input[type="number"],
select{
	border:1px solid #9e9e9e;
	border-radius:4px;
	height:28px;
	width:140px;
	padding-left:8px;
	box-sizing:border-box;
}

input[type="text"]:hover,
input[type="number"]:hover,
select:hover{
	border-color:#858585;
}

:is(input[type="text"],input[type="number"],select,input.delete):focus-visible{
	box-shadow: none;
	outline: 2px solid #0061e0;
	outline-offset: 0;
}

h2{
	font-size: 22px;
	font-weight: 300;
	margin:0 0 10px;
}

h3{
	margin:10px 0;
}

#rightSide button,
#addRow{
	background-color:rgba(207,207,216,.33);
}
#rightSide button:hover,
#addRow:hover{
	background-color:rgba(207,207,216,.66);
}
#rightSide button:active,
#addRow:active{
	background-color:rgba(207,207,216,1);
}

#sliderTitle{
	border-top:1px solid #d6d6d7;
	padding-top:10px;
}

.optionsTab{
  display:grid;
  grid-template-columns: 290px auto;
  grid-row-gap: 5px;
}

.shortcutsTab{
  display:grid;
  grid-template-columns: 290px 140px auto;
  grid-row-gap: 5px;
}

#customization{
	display:grid;
	grid-template-areas:"header header" "leftSide rightSide"; 
	grid-template-columns:285px auto;
}

.card{
	padding:0 16px 16px;
	background:#fff;
	border:1px solid #0c0c0d1a;
	border-radius: 4px;
	box-shadow:#0c0c0d1a 0px 1px 4px 0px;
}

.card+.card{
	margin-top:10px;
}

#leftSide{
	grid-area:leftSide;
}

#rightSide{
	grid-area:rightSide;
}

#header{
	grid-area:header;
}

#popupPreview{
	width:224px;
	padding:6px;
	margin:2px 0 0 32px;
	border:1px solid var(--popup-border);
	border-radius:8px;
	box-shadow:0 2px 8px rgba(12, 12, 13, 0.1);
	background:var(--background-color);
}

#popupPreview.light button:focus-visible{
	outline: 2px solid #0061e0 !important;
}

#popupPreview.dark button:focus-visible{
	outline: 2px solid #00ddff !important;
}

.flexrow{
	background-image:url("icons/drag.svg");
	background-repeat:no-repeat;
	background-position:right;
	padding-right:12px;
	cursor:row-resize;
}

.flexrow *,
#palette *{
	cursor:move;
}

#palette{
	height:calc(100% - 50px);
	min-height:64px;
	padding:4px;
	margin:4px 0 0 2px;
	border:3px dashed rgba(12, 12, 13, 0.4);
	background:#fff;
}

#palette button{
	min-width:22px;
}

#addRow{
	margin:6px 0 0 32px;
	width:218px;
}

.delete{
	height:16px;
	width:16px;
	padding:6px;
	flex-shrink:0;
	position:relative;
	left:-40px;
	margin:2px -30px 2px 2px;
	cursor:default;
	border:none;
	border-radius:4px;
	transition-duration: 150ms;
	transition-property: background-color;
	color:inherit;
	background:transparent;
}

.delete:hover{
	background-color:rgba(207,207,216,.66);
}

.delete:hover:active{
	background-color:rgba(207,207,216,1);
}

.shortcutsTab .delete{
	left:0;
	margin:0 0 0 4px;
}

.ui-sortable-placeholder{
	vertical-align:bottom;
}

#buttonValue{
	width:65px;
	margin-left:4px;
}

a{
	color:#0060df;
	font-size:13px;
}

#howShortcut{
	display:inline-block;
	padding:5px;
	margin-top:10px;
}

.hidden{
	visibility:hidden;
}
