.light,
.light:root{
	--background-color:#fff;
	--text-color:#000;
	--button-background:rgba(207,207,216,.33);
	--button-hover:rgba(207,207,216,.66);
	--button-active:rgba(207,207,216,1);
	--error-background:#d70022;
	--error-color:#fff;
	--focus-color:#0061e0;
}

.dark,
.dark:root{
	--background-color:#42414d;
	--text-color:#fbfbfe;
	--button-background:rgba(251,251,254,.05);
	--button-hover:rgba(251,251,254,.12);
	--button-active:rgba(251,251,254,.25);
	--error-background:#d70022;
	--error-color:#fff;
	--focus-color:#00ddff;
}

@media (prefers-color-scheme: light) {
	.auto,
	.auto:root{
		--button-background:rgba(207,207,216,.33);
		--button-hover:rgba(207,207,216,.66);
		--button-active:rgba(207,207,216,1);
		--error-background:#d70022;
		--error-color:#fff;
		--focus-color:#0061e0;
	}
}

@media (prefers-color-scheme: dark) {
	.auto,
	.auto:root{
		--button-background:rgba(251,251,254,.05);
		--button-hover:rgba(251,251,254,.12);
		--button-active:rgba(251,251,254,.25);
		--error-background:#d70022;
		--error-color:#fff;
		--focus-color:#00ddff;
	}
}

@font-face {
      font-family:"playback";
      src:url('icons/playback.ttf');
}

#playpause,#rewind,#fastforward,#mute,#loop,#customize,#customizeNo,.delete{
	font-family:"playback";
	font-size:16px;
}

body{
	background: var(--background-color);
	box-sizing: border-box;
	color:var(--text-color);
	cursor: default;
	font: caption;
	margin: 0;
	padding: 6px;
	-moz-user-select: none;
	width:224px;
}

button{
	-moz-appearance: none;
	text-align: center;
	background-color:var(--button-background);
	color:var(--text-color);
	border: none;
	border-radius:4px;
	box-shadow: 0 0 0 0 transparent;
	font: caption;
	height: 28px;
	outline: 0;
	padding: 0 8px 0;
	transition-duration: 150ms;
	transition-property: background-color;
	margin:2px;
}

#loop.active:hover,
button:hover{
	background-color:var(--button-hover);
}

#loop.active,
button:hover:active{
	background-color:var(--button-active);
}

:is(button,input[type="image"],a):focus-visible{
	box-shadow: none;
	outline: 2px solid var(--focus-color);
	outline-offset: 2px;
}

.flexrow{
	display: flex;
	flex-direction: row;
	min-height:32px;
	background-color:var(--background-color);
}

.flexrow button{
	flex-basis: -moz-available;
	flex-shrink:3;
}
.flexrow span{
	flex-basis: -moz-available;
	flex-shrink:4;
}
.flexrow input[type="range"]{
	min-width: 120px;
	flex-basis: -moz-available;
	height:26px;
}
.flexrow #open{
	flex-basis: -moz-available;
	flex-shrink:1;
	line-height:1;
}

.flexrow #minus,
.flexrow #plus{
	flex-shrink:3;
}

#current{
	padding:6px;
	overflow:hidden;
	align-self:center;
	text-align:center;
	margin:2px;
	height:28px;
	box-sizing:border-box;
	display:inline-block;
	vertical-align:bottom;
	color:var(--text-color);
}

#range {
	height:28px;
	box-sizing:border-box;
	vertical-align:bottom;
}

#noVideo:not([hidden]){
	display:grid;
	grid-template-columns:auto 32px;
	align-items:center;
	justify-items:center;
}

#customizeNo{
	padding:0 6px;
}

#error{
	background:var(--error-background);
	color:var(--error-color);
	border-radius:4px;
	text-align:center;
	padding:6px;
	margin:8px 2px 2px 2px;
}

*:focus{
	outline:none;
}
